## .NET
bin/
obj/
out/

## Secrets (usar appsettings.example.json como plantilla)
MatchIQ.API/appsettings.json

## Rider / ReSharper
.idea/
*.sln.iml

## Visual Studio
.vs/
*.user
*.suo

## OS
.DS_Store

## Logs
*.log