## .NET
bin/
obj/
out/

## Secrets (using appsettings.example.json as template)
MatchIQ.API/appsettings.json

DBContext.md
projectContext.md

## Rider / ReSharper
.idea/
*.sln.iml

## Visual Studio
.vs/
*.user
*.suo

## OS
.DS_Store

## Logs
*.log